html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background-color: rgb(135, 182, 253);
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: hsla(347, 68%, 52%, 0.712);
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") crimson;
}

div.hidden {
  background: rgba(20, 255, 145, 0.6);
}

div.hidden:hover {
  background: gray;
  border-radius: 50%;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") rgb(57, 156, 189);
}

button {
  background-color: rgb(235, 179, 111);
  padding: 2.5vh 3vw 2.5vh 3vw;
  margin: 1vh 0vw 1vh 0vw;
  font-size: 30px;
  border-radius: 20%;
  text-transform: uppercase;
}

button:hover {
  background-color: rgb(10, 163, 190);
}