html, body {
  height: 100%;
  font-family: 'DM Mono', monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background-color: rgb(10, 15, 29);
  background-image: url("./images/bgbw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  /* border: turquoise solid 1px; */
}

#message {
  color: azure;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: .5vh;
  border: powderblue solid 1px;
}

#notes {
  padding: 10px;
  border: solid pink 1px;

}

.board {
  display: flex;
  flex-wrap: wrap;
}

.table {
  position: fixed;
  top: 250px;
  left: 100px;
  bottom: 250px;
  right: 900px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(20, 20, 20, 0.63);
  border-radius: 5%;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.header {
  /* border: grey solid 1px; */
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  color: aliceblue;
}

.places {
  /* border: hotpink solid 1px; */
  font-size: 1.7rem;
  padding: 15px;
  color: aliceblue
}


.board div {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: no-repeat center/160% url("images/grass1.jpg");
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

div.mine, div.mine:hover {
  background: no-repeat center/160% url("images/explosion.jpg");
  border: none;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);  

}

div.hidden {
  background: no-repeat center/120% url("images/mine.jpg");
  border: none;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);  

}

div.hidden:hover {
  background: no-repeat center/100% url("images/target.png");
  border-radius: 50%;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);  

}

div.marked, div.marked:hover {
  background: no-repeat center/90% url("images/danger.png");
  border: none;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);  

}

button {
  color: white;
  padding: 2.5vh 3vw 2.5vh 3vw;
  margin: 4vh 0vw 2vh 0vw;
  font-size: 30px;
  background-color: rgba(20, 20, 20, 0.63);
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15%;
}

button:hover {
  background-color: rgb(80, 78, 78);
  color: aliceblue;
}